body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1560px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:1224px;
}
#u244 {
  position:absolute;
  left:920px;
  top:124px;
  width:640px;
  height:1224px;
}
#u245 {
  position:absolute;
  left:2px;
  top:604px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:107px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u246 {
  position:absolute;
  left:920px;
  top:1348px;
  width:640px;
  height:107px;
}
#u247 {
  position:absolute;
  left:2px;
  top:46px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u248 {
  position:absolute;
  left:920px;
  top:183px;
  width:60px;
  height:60px;
}
#u249 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u250 {
  position:absolute;
  left:965px;
  top:1362px;
  width:47px;
  height:47px;
}
#u251 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u252 {
  position:absolute;
  left:1129px;
  top:1362px;
  width:47px;
  height:47px;
}
#u253 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u254 {
  position:absolute;
  left:1294px;
  top:1362px;
  width:47px;
  height:47px;
}
#u255 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u256 {
  position:absolute;
  left:1458px;
  top:1362px;
  width:47px;
  height:47px;
}
#u257 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BFBFBF;
}
#u258 {
  position:absolute;
  left:970px;
  top:1409px;
  width:38px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BFBFBF;
}
#u259 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BFBFBF;
}
#u260 {
  position:absolute;
  left:1134px;
  top:1409px;
  width:38px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BFBFBF;
}
#u261 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BFBFBF;
}
#u262 {
  position:absolute;
  left:1299px;
  top:1409px;
  width:38px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BFBFBF;
}
#u263 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BFBFBF;
}
#u264 {
  position:absolute;
  left:1463px;
  top:1409px;
  width:38px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BFBFBF;
}
#u265 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u266 {
  position:absolute;
  left:939px;
  top:1348px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u267 {
  position:absolute;
  left:1103px;
  top:1348px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u268 {
  position:absolute;
  left:1268px;
  top:1348px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u269 {
  position:absolute;
  left:1432px;
  top:1348px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u270 {
  position:absolute;
  left:920px;
  top:173px;
  width:78px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
.u272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:348px;
}
.u272 {
  position:absolute;
  left:82px;
  top:5px;
  width:358px;
  height:348px;
}
.u273 {
  position:absolute;
  left:2px;
  top:166px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
.u274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:104px;
}
.u274 {
  position:absolute;
  left:15px;
  top:8px;
  width:28px;
  height:104px;
}
.u275 {
  position:absolute;
  left:2px;
  top:44px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
.u276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:80px;
}
.u276 {
  position:absolute;
  left:22px;
  top:20px;
  width:15px;
  height:80px;
  font-family:'思源宋体 Bold', '思源宋体 Regular', '思源宋体';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
.u277 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
.u278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:104px;
}
.u278 {
  position:absolute;
  left:15px;
  top:417px;
  width:28px;
  height:104px;
}
.u279 {
  position:absolute;
  left:2px;
  top:44px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
.u280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:80px;
}
.u280 {
  position:absolute;
  left:22px;
  top:429px;
  width:15px;
  height:80px;
  font-family:'思源宋体 Bold', '思源宋体 Regular', '思源宋体';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
.u281 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
.u282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:198px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BC7F47;
}
.u282 {
  position:absolute;
  left:82px;
  top:407px;
  width:480px;
  height:198px;
  font-family:'思源宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BC7F47;
}
.u283 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  word-wrap:break-word;
}
.u284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:104px;
}
.u284 {
  position:absolute;
  left:15px;
  top:671px;
  width:28px;
  height:104px;
}
.u285 {
  position:absolute;
  left:2px;
  top:44px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
.u286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:80px;
}
.u286 {
  position:absolute;
  left:22px;
  top:683px;
  width:15px;
  height:80px;
  font-family:'思源宋体 Bold', '思源宋体 Regular', '思源宋体';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
.u287 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
.u288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:53px;
}
.u288 {
  position:absolute;
  left:507px;
  top:74px;
  width:36px;
  height:53px;
  font-family:'思源宋体 Bold', '思源宋体 Regular', '思源宋体';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#BC7F47;
}
.u289 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
.u290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:107px;
}
.u290 {
  position:absolute;
  left:369px;
  top:125px;
  width:307px;
  height:107px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
.u291 {
  position:absolute;
  left:2px;
  top:46px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
.u292 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:151px;
}
.u293 {
  position:absolute;
  left:137px;
  top:683px;
  width:1px;
  height:150px;
  color:#BC7F47;
}
.u294 {
  position:absolute;
  left:2px;
  top:67px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
.u295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:2px;
}
.u295 {
  position:absolute;
  left:133px;
  top:682px;
  width:10px;
  height:1px;
}
.u296 {
  position:absolute;
  left:2px;
  top:-8px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
.u297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:2px;
}
.u297 {
  position:absolute;
  left:132px;
  top:832px;
  width:10px;
  height:1px;
}
.u298 {
  position:absolute;
  left:2px;
  top:-8px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
.u299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#BC7F47;
}
.u299 {
  position:absolute;
  left:229px;
  top:671px;
  width:113px;
  height:125px;
  font-family:'思源宋体';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#BC7F47;
}
.u300 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
.u301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#BC7F47;
}
.u301 {
  position:absolute;
  left:360px;
  top:743px;
  width:120px;
  height:49px;
  font-family:'思源宋体';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  color:#BC7F47;
}
.u302 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
.u303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体';
  font-weight:400;
  font-style:normal;
  color:#BC7F47;
}
.u303 {
  position:absolute;
  left:357px;
  top:814px;
  width:91px;
  height:50px;
  font-family:'思源宋体';
  font-weight:400;
  font-style:normal;
  color:#BC7F47;
}
.u304 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
.u305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#BC7F47;
}
.u305 {
  position:absolute;
  left:287px;
  top:673px;
  width:129px;
  height:60px;
  font-family:'思源宋体';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:#BC7F47;
}
.u306 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
.u307_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:76px;
}
.u307 {
  position:absolute;
  left:393px;
  top:976px;
  width:192px;
  height:76px;
  font-family:'思源宋体 Bold', '思源宋体 Regular', '思源宋体';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#FFFFFF;
}
.u308 {
  position:absolute;
  left:2px;
  top:16px;
  width:188px;
  word-wrap:break-word;
}
.u309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 Bold', '思源宋体 Regular', '思源宋体';
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#BC7F47;
}
.u309 {
  position:absolute;
  left:228px;
  top:996px;
  width:58px;
  height:58px;
  font-family:'思源宋体 Bold', '思源宋体 Regular', '思源宋体';
  font-weight:700;
  font-style:normal;
  font-size:40px;
  color:#BC7F47;
}
.u310 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
.u311_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 Bold', '思源宋体 Regular', '思源宋体';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#BC7F47;
}
.u311 {
  position:absolute;
  left:258px;
  top:985px;
  width:110px;
  height:58px;
  font-family:'思源宋体 Bold', '思源宋体 Regular', '思源宋体';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#BC7F47;
}
.u312 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u271-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  height:1054px;
}
#u271 {
  position:absolute;
  left:951px;
  top:268px;
  width:585px;
  height:1054px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:121px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 Bold', '思源宋体 Regular', '思源宋体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#BC7F47;
}
#u313 {
  position:absolute;
  left:1123px;
  top:183px;
  width:339px;
  height:121px;
  font-family:'思源宋体 Bold', '思源宋体 Regular', '思源宋体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#BC7F47;
}
#u314 {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  word-wrap:break-word;
}
