body {
  margin:0px;
  background-color:rgba(152, 152, 152, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1241px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u409 {
  position:fixed;
  left:50%;
  margin-left:-183px;
  top:50%;
  margin-top:-356px;
}
#u409_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:366px;
  height:712px;
  background-image:none;
}
#u409_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:712px;
}
#u410 {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:712px;
}
#u411 {
  position:absolute;
  left:2px;
  top:348px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:30px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u412 {
  position:absolute;
  left:25px;
  top:628px;
  width:317px;
  height:51px;
}
#u413 {
  position:absolute;
  left:2px;
  top:18px;
  width:313px;
  visibility:hidden;
  word-wrap:break-word;
}
#u414_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u414 {
  position:absolute;
  left:28px;
  top:69px;
  width:29px;
  height:29px;
}
#u415 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u416 {
  position:absolute;
  left:50px;
  top:635px;
  width:23px;
  height:23px;
}
#u417 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u418_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u418 {
  position:absolute;
  left:130px;
  top:635px;
  width:23px;
  height:23px;
}
#u418_img.selected {
  width:33px;
  height:33px;
}
#u418.selected {
}
#u419 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u420_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u420 {
  position:absolute;
  left:210px;
  top:635px;
  width:23px;
  height:23px;
}
#u421 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u422 {
  position:absolute;
  left:290px;
  top:635px;
  width:23px;
  height:23px;
}
#u423 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#BFBFBF;
}
#u424 {
  position:absolute;
  left:47px;
  top:658px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#BFBFBF;
}
#u425 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#BFBFBF;
}
#u426 {
  position:absolute;
  left:125px;
  top:658px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#BFBFBF;
}
#u426_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#BFBFBF;
}
#u426.selected {
}
#u427 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#BFBFBF;
}
#u428 {
  position:absolute;
  left:206px;
  top:658px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#BFBFBF;
}
#u429 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#BFBFBF;
}
#u430 {
  position:absolute;
  left:287px;
  top:658px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#BFBFBF;
}
#u431 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN Medium', '思源黑体 CN Regular', '思源黑体 CN';
  font-weight:500;
  font-style:normal;
  font-size:18px;
}
#u432 {
  position:absolute;
  left:191px;
  top:73px;
  width:148px;
  height:27px;
  font-family:'思源黑体 CN Medium', '思源黑体 CN Regular', '思源黑体 CN';
  font-weight:500;
  font-style:normal;
  font-size:18px;
}
#u433 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u434_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u434 {
  position:absolute;
  left:166px;
  top:74px;
  width:24px;
  height:23px;
}
#u435 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u436_img {
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:2px;
}
#u436 {
  position:absolute;
  left:-145px;
  top:360px;
  width:527px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.5;
}
#u437 {
  position:absolute;
  left:2px;
  top:-8px;
  width:523px;
  visibility:hidden;
  word-wrap:break-word;
}
.u439_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
.u439 {
  position:absolute;
  left:16px;
  top:11px;
  width:59px;
  height:18px;
  color:#999999;
}
.u439_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
.u439.selected {
}
.u440 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u438-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:29px;
}
#u438-2 {
  position:absolute;
  left:0px;
  top:59px;
  width:75px;
  height:29px;
}
#u438-3 {
  position:absolute;
  left:0px;
  top:118px;
  width:75px;
  height:29px;
}
#u438-4 {
  position:absolute;
  left:0px;
  top:177px;
  width:103px;
  height:29px;
}
#u438 {
  position:absolute;
  left:15px;
  top:100px;
  width:103px;
  height:206px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
.u442 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u443_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:88px;
}
.u443 {
  position:absolute;
  left:-3px;
  top:0px;
  width:201px;
  height:88px;
}
.u444 {
  position:absolute;
  left:2px;
  top:36px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
.u445_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:85px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u445 {
  position:absolute;
  left:-3px;
  top:2px;
  width:201px;
  height:85px;
  opacity:0.25;
}
.u446 {
  position:absolute;
  left:2px;
  top:34px;
  width:197px;
  visibility:hidden;
  word-wrap:break-word;
}
.u447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
.u447 {
  position:absolute;
  left:-6px;
  top:39px;
  width:212px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
.u448 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  word-wrap:break-word;
}
#u441-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:88px;
}
#u441-2 {
  position:absolute;
  left:0px;
  top:108px;
  width:206px;
  height:88px;
}
#u441-3 {
  position:absolute;
  left:0px;
  top:216px;
  width:206px;
  height:88px;
}
#u441-4 {
  position:absolute;
  left:0px;
  top:324px;
  width:206px;
  height:88px;
}
#u441-5 {
  position:absolute;
  left:0px;
  top:432px;
  width:206px;
  height:88px;
}
#u441 {
  position:absolute;
  left:128px;
  top:101px;
  width:206px;
  height:520px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u449 {
  position:absolute;
  left:37px;
  top:632px;
  width:49px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u450 {
  position:absolute;
  left:117px;
  top:629px;
  width:49px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u451 {
  position:absolute;
  left:197px;
  top:632px;
  width:49px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u452 {
  position:absolute;
  left:279px;
  top:632px;
  width:49px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u453 {
  position:absolute;
  left:28px;
  top:64px;
  width:38px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u454_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
}
#u454 {
  position:absolute;
  left:97px;
  top:76px;
  width:66px;
  height:20px;
}
#u455 {
  position:absolute;
  left:2px;
  top:2px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
