body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:448px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:834px;
}
#u197 {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:834px;
}
#u198 {
  position:absolute;
  left:2px;
  top:409px;
  width:444px;
  visibility:hidden;
  word-wrap:break-word;
}
#u199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u199 {
  position:absolute;
  left:0px;
  top:834px;
  width:448px;
  height:73px;
}
#u200 {
  position:absolute;
  left:2px;
  top:28px;
  width:444px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:41px;
}
#u201 {
  position:absolute;
  left:0px;
  top:40px;
  width:42px;
  height:41px;
}
#u202 {
  position:absolute;
  left:2px;
  top:12px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
}
#u203 {
  position:absolute;
  left:32px;
  top:844px;
  width:33px;
  height:32px;
}
#u204 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
}
#u205 {
  position:absolute;
  left:146px;
  top:844px;
  width:33px;
  height:32px;
}
#u206 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
}
#u207 {
  position:absolute;
  left:262px;
  top:844px;
  width:33px;
  height:32px;
}
#u207_img.selected {
  width:43px;
  height:42px;
}
#u207.selected {
}
#u208 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
}
#u209 {
  position:absolute;
  left:377px;
  top:844px;
  width:33px;
  height:32px;
}
#u210 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BFBFBF;
}
#u211 {
  position:absolute;
  left:29px;
  top:876px;
  width:38px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BFBFBF;
}
#u212 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BFBFBF;
}
#u213 {
  position:absolute;
  left:143px;
  top:876px;
  width:38px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BFBFBF;
}
#u214 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BFBFBF;
}
#u215 {
  position:absolute;
  left:261px;
  top:876px;
  width:38px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BFBFBF;
}
#u215_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BFBFBF;
}
#u215.mouseOver {
}
#u215_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BFBFBF;
}
#u215.selected {
}
#u216 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BFBFBF;
}
#u217 {
  position:absolute;
  left:377px;
  top:876px;
  width:38px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BFBFBF;
}
#u218 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u219 {
  position:absolute;
  left:15px;
  top:97px;
  width:355px;
  height:35px;
}
#u219_input {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u220 {
  position:absolute;
  left:369px;
  top:97px;
  width:71px;
  height:35px;
  font-size:28px;
}
#u221 {
  position:absolute;
  left:2px;
  top:10px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u222 {
  position:absolute;
  left:391px;
  top:101px;
  width:28px;
  height:28px;
}
#u223 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
.u225 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:151px;
}
.u226 {
  position:absolute;
  left:18px;
  top:19px;
  width:195px;
  height:151px;
}
.u227 {
  position:absolute;
  left:2px;
  top:68px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
.u228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
.u228 {
  position:absolute;
  left:24px;
  top:177px;
  width:81px;
  height:19px;
  font-size:20px;
}
.u229 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
.u230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
.u230 {
  position:absolute;
  left:24px;
  top:200px;
  width:34px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF6600;
}
.u231 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u224-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:218px;
}
#u224-2 {
  position:absolute;
  left:213px;
  top:0px;
  width:213px;
  height:218px;
}
#u224-3 {
  position:absolute;
  left:0px;
  top:218px;
  width:213px;
  height:218px;
}
#u224-4 {
  position:absolute;
  left:213px;
  top:218px;
  width:213px;
  height:218px;
}
#u224-5 {
  position:absolute;
  left:0px;
  top:436px;
  width:213px;
  height:218px;
}
#u224-6 {
  position:absolute;
  left:213px;
  top:436px;
  width:213px;
  height:218px;
}
#u224 {
  position:absolute;
  left:7px;
  top:146px;
  width:426px;
  height:654px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN Medium', '思源黑体 CN Regular', '思源黑体 CN';
  font-weight:500;
  font-style:normal;
  font-size:25px;
}
#u232 {
  position:absolute;
  left:338px;
  top:52px;
  width:100px;
  height:38px;
  font-family:'思源黑体 CN Medium', '思源黑体 CN Regular', '思源黑体 CN';
  font-weight:500;
  font-style:normal;
  font-size:25px;
}
#u233 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:33px;
}
#u234 {
  position:absolute;
  left:302px;
  top:53px;
  width:34px;
  height:33px;
}
#u235 {
  position:absolute;
  left:2px;
  top:8px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236 {
  position:absolute;
  left:369px;
  top:97px;
  width:79px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
.u238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
  text-align:center;
  line-height:20px;
}
.u238 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:47px;
  font-size:20px;
  color:#999999;
  text-align:center;
  line-height:20px;
}
.u238_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#999999;
  text-align:center;
  line-height:20px;
}
.u238.selected {
}
.u239 {
  position:absolute;
  left:0px;
  top:14px;
  width:65px;
  word-wrap:break-word;
}
#u237-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:47px;
}
#u237-2 {
  position:absolute;
  left:65px;
  top:0px;
  width:65px;
  height:47px;
}
#u237-3 {
  position:absolute;
  left:130px;
  top:0px;
  width:65px;
  height:47px;
}
#u237 {
  position:absolute;
  left:60px;
  top:60px;
  width:195px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u240 {
  position:absolute;
  left:14px;
  top:837px;
  width:70px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u241 {
  position:absolute;
  left:128px;
  top:834px;
  width:70px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u242 {
  position:absolute;
  left:245px;
  top:837px;
  width:70px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u243 {
  position:absolute;
  left:361px;
  top:837px;
  width:70px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u244 {
  position:absolute;
  left:0px;
  top:33px;
  width:55px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
