body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:449px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:834px;
}
#u316 {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:834px;
}
#u317 {
  position:absolute;
  left:2px;
  top:409px;
  width:444px;
  visibility:hidden;
  word-wrap:break-word;
}
#u318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 1px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u318 {
  position:absolute;
  left:0px;
  top:834px;
  width:448px;
  height:73px;
}
#u319 {
  position:absolute;
  left:2px;
  top:28px;
  width:444px;
  visibility:hidden;
  word-wrap:break-word;
}
#u320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:41px;
}
#u320 {
  position:absolute;
  left:0px;
  top:40px;
  width:42px;
  height:41px;
}
#u321 {
  position:absolute;
  left:2px;
  top:12px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
}
#u322 {
  position:absolute;
  left:32px;
  top:844px;
  width:33px;
  height:32px;
}
#u323 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
}
#u324 {
  position:absolute;
  left:146px;
  top:844px;
  width:33px;
  height:32px;
}
#u325 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
}
#u326 {
  position:absolute;
  left:262px;
  top:844px;
  width:33px;
  height:32px;
}
#u327 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
}
#u328 {
  position:absolute;
  left:377px;
  top:844px;
  width:33px;
  height:32px;
}
#u328_img.selected {
  width:43px;
  height:42px;
}
#u328.selected {
}
#u329 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BFBFBF;
}
#u330 {
  position:absolute;
  left:30px;
  top:876px;
  width:38px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BFBFBF;
}
#u331 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BFBFBF;
}
#u332 {
  position:absolute;
  left:145px;
  top:876px;
  width:38px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BFBFBF;
}
#u333 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BFBFBF;
}
#u334 {
  position:absolute;
  left:262px;
  top:876px;
  width:38px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BFBFBF;
}
#u335 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BFBFBF;
}
#u336 {
  position:absolute;
  left:378px;
  top:876px;
  width:38px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BFBFBF;
}
#u336_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BFBFBF;
}
#u336.mouseOver {
}
#u336_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#BFBFBF;
}
#u336.selected {
}
#u337 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源黑体 CN Medium', '思源黑体 CN Regular', '思源黑体 CN';
  font-weight:500;
  font-style:normal;
  font-size:25px;
}
#u338 {
  position:absolute;
  left:338px;
  top:54px;
  width:100px;
  height:38px;
  font-family:'思源黑体 CN Medium', '思源黑体 CN Regular', '思源黑体 CN';
  font-weight:500;
  font-style:normal;
  font-size:25px;
}
#u339 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:33px;
}
#u340 {
  position:absolute;
  left:302px;
  top:53px;
  width:34px;
  height:33px;
}
#u341 {
  position:absolute;
  left:2px;
  top:8px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:82px;
}
#u342 {
  position:absolute;
  left:0px;
  top:106px;
  width:448px;
  height:82px;
}
#u343 {
  position:absolute;
  left:2px;
  top:33px;
  width:444px;
  visibility:hidden;
  word-wrap:break-word;
}
#u344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u344 {
  position:absolute;
  left:109px;
  top:135px;
  width:81px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u345 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:58px;
}
#u346 {
  position:absolute;
  left:17px;
  top:119px;
  width:62px;
  height:58px;
}
#u347 {
  position:absolute;
  left:2px;
  top:21px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:82px;
}
#u348 {
  position:absolute;
  left:0px;
  top:210px;
  width:448px;
  height:82px;
}
#u349 {
  position:absolute;
  left:2px;
  top:33px;
  width:444px;
  visibility:hidden;
  word-wrap:break-word;
}
#u350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:31px;
}
#u350 {
  position:absolute;
  left:399px;
  top:127px;
  width:32px;
  height:31px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u351 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:31px;
}
#u352 {
  position:absolute;
  left:399px;
  top:217px;
  width:32px;
  height:31px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u353 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:31px;
}
#u354 {
  position:absolute;
  left:399px;
  top:253px;
  width:32px;
  height:31px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u355 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:2px;
}
#u356 {
  position:absolute;
  left:32px;
  top:250px;
  width:417px;
  height:1px;
  opacity:0.4;
  color:#CCCCCC;
}
#u357 {
  position:absolute;
  left:2px;
  top:-8px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u358 {
  position:absolute;
  left:32px;
  top:221px;
  width:81px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u359 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u360 {
  position:absolute;
  left:32px;
  top:260px;
  width:81px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u361 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:82px;
}
#u362 {
  position:absolute;
  left:0px;
  top:316px;
  width:448px;
  height:82px;
}
#u363 {
  position:absolute;
  left:2px;
  top:33px;
  width:444px;
  visibility:hidden;
  word-wrap:break-word;
}
#u364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:31px;
}
#u364 {
  position:absolute;
  left:399px;
  top:322px;
  width:32px;
  height:31px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u365 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:31px;
}
#u366 {
  position:absolute;
  left:399px;
  top:359px;
  width:32px;
  height:31px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u367 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:2px;
}
#u368 {
  position:absolute;
  left:32px;
  top:356px;
  width:417px;
  height:1px;
  opacity:0.4;
  color:#CCCCCC;
}
#u369 {
  position:absolute;
  left:2px;
  top:-8px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u370 {
  position:absolute;
  left:32px;
  top:326px;
  width:81px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u371 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u372 {
  position:absolute;
  left:32px;
  top:365px;
  width:81px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u373 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u374 {
  position:absolute;
  left:14px;
  top:834px;
  width:70px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u375 {
  position:absolute;
  left:129px;
  top:834px;
  width:70px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u376 {
  position:absolute;
  left:246px;
  top:834px;
  width:70px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u377 {
  position:absolute;
  left:362px;
  top:834px;
  width:70px;
  height:68px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u378 {
  position:absolute;
  left:0px;
  top:40px;
  width:55px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:45px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
}
#u379 {
  position:absolute;
  left:52px;
  top:442px;
  width:321px;
  height:45px;
  font-size:25px;
}
#u380 {
  position:absolute;
  left:2px;
  top:8px;
  width:317px;
  word-wrap:break-word;
}
