body {
  margin:0px;
  background-color:rgba(152, 152, 152, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1241px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u456 {
  position:fixed;
  left:50%;
  margin-left:-183px;
  top:50%;
  margin-top:-356px;
}
#u456_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:366px;
  height:712px;
  background-image:none;
}
#u456_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:712px;
}
#u457 {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:712px;
}
#u458 {
  position:absolute;
  left:2px;
  top:348px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
.u460_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:159px;
}
.u460 {
  position:absolute;
  left:21px;
  top:43px;
  width:273px;
  height:159px;
}
.u461 {
  position:absolute;
  left:2px;
  top:72px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
.u462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
.u462 {
  position:absolute;
  left:113px;
  top:15px;
  width:71px;
  height:20px;
  font-family:'宋体 常规', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
.u463 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
.u464_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
.u464 {
  position:absolute;
  left:21px;
  top:215px;
  width:49px;
  height:15px;
}
.u465 {
  position:absolute;
  left:2px;
  top:0px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
.u466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
.u466 {
  position:absolute;
  left:110px;
  top:215px;
  width:49px;
  height:16px;
  font-family:'华文宋体';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
.u467 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
.u468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:15px;
}
.u468 {
  position:absolute;
  left:21px;
  top:260px;
  width:273px;
  height:73px;
  line-height:15px;
}
.u469 {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  word-wrap:break-word;
}
.u470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'思源宋体 Bold', '思源宋体 Regular', '思源宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#BC7F47;
}
.u470 {
  position:absolute;
  left:91px;
  top:323px;
  width:86px;
  height:21px;
  font-family:'思源宋体 Bold', '思源宋体 Regular', '思源宋体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#BC7F47;
}
.u471 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
.u472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:15px;
}
.u472 {
  position:absolute;
  left:23px;
  top:354px;
  width:273px;
  height:43px;
  line-height:15px;
}
.u473 {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  word-wrap:break-word;
}
.u474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 78, 34, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u474 {
  position:absolute;
  left:192px;
  top:576px;
  width:103px;
  height:27px;
}
.u475 {
  position:absolute;
  left:2px;
  top:6px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
.u476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
.u476 {
  position:absolute;
  left:208px;
  top:583px;
  width:43px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
.u477 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
.u478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:28px;
}
.u478 {
  position:absolute;
  left:243px;
  top:576px;
  width:1px;
  height:27px;
}
.u479 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
.u480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
.u480 {
  position:absolute;
  left:246px;
  top:582px;
  width:43px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
}
.u481 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
.u482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#000000;
}
.u482 {
  position:absolute;
  left:76px;
  top:216px;
  width:28px;
  height:15px;
  font-size:10px;
  color:#000000;
}
.u483 {
  position:absolute;
  left:2px;
  top:1px;
  width:24px;
  word-wrap:break-word;
}
.u484_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:15px;
}
.u484 {
  position:absolute;
  left:21px;
  top:408px;
  width:273px;
  height:43px;
  line-height:15px;
}
.u485 {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  word-wrap:break-word;
}
.u486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:15px;
}
.u486 {
  position:absolute;
  left:21px;
  top:481px;
  width:273px;
  height:43px;
  line-height:15px;
}
.u487 {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  word-wrap:break-word;
}
.u488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文宋体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
.u488 {
  position:absolute;
  left:21px;
  top:240px;
  width:52px;
  height:17px;
  font-family:'华文宋体';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
.u489 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
.u490_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文宋体';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
.u490 {
  position:absolute;
  left:78px;
  top:587px;
  width:39px;
  height:13px;
  font-family:'华文宋体';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
.u491 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u459-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:603px;
}
#u459 {
  position:absolute;
  left:29px;
  top:61px;
  width:296px;
  height:603px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u492 {
  position:absolute;
  left:28px;
  top:69px;
  width:29px;
  height:29px;
}
#u493 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u494 {
  position:absolute;
  left:28px;
  top:64px;
  width:38px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
